@font-face {
  font-family: 'Nourd-Medium';
  src: url('../public/nourd_medium.woff') format('woff');
  /* Add more src lines for different font formats if necessary */
}

 
* {
  font-family: 'Nourd-Medium', "Gilroy ExtraBold", "Roboto Flex" !important;
}




::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #002D33; 
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #26408d; 
  border-radius: 20px;
}

 